/* VARIABILI */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font1: "Roboto Mono", monospace;
  --font2: "Arial", sans-serif;
  --font3: "Montserrat", sans-serif;
  --colore-primario: #FFF7F2;
  --colore-secondario: black;
  --colore-frame: #F7F0E1;
  --bordo-frame: 5px solid black;
  --bordo-item-frame: 3px solid lightgrey;
  --bordo-button: 3px solid black;
  --shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgb(0 0 0 / 20%);
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* STILI GENERALI */

/* BODY */

body {
  background-color: var(--colore-primario);
}

/* TESTI */

.title {
  font-family: var(--font1);
  font-size: 3rem;
  font-weight: 700;
}

.subtitle {
  font-family: var(--font1);
  font-size: 1.5rem;
  font-weight: 700;
}

p {
  font-family: var(--font1);
  font-size: 1rem;
  font-weight: 500;
}

.frame-title {
  font-family: var(--font1);
  font-weight: 650;
}

/* SKILL TEXT */

.skill {
  font-size: 0.7rem;
}

/* BUTTONS */

.nav-button {
  font-family: var(--font1);
  font-size: 1rem;
  text-decoration: none;
  border-radius: 50px;
  color: var(--colore-secondario);
  background-color: var(--colore-primario);
  min-width: 6.5rem;
  height: 2rem;
  border: var(--bordo-button);
}

/* IMMAGINI E ICONE */

.icon {
  width: 2rem;
  height: 2rem;
}

/* CONTATTI */

address {
  font-family: var(--font1);
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--colore-secondario);
}

a {
  text-decoration: none;
  font-family: var(--font3);
  color: grey;
}

/* FRAME */

.frame {
  border: var(--bordo-frame);
  border-radius: 50px;
  background-color: var(--colore-frame);
  padding: 1rem;
  margin: 1rem;
  box-shadow: var(--shadow);
}

.item-frame {
  border: var(--bordo-item-frame);
  border-radius: 50px;
  background-color: var(--colore-primario);
  padding: 0.3rem;
}

/* SEPARATORE */

hr {
  height: 0.25rem;
  margin-top: 1.5rem;
  background-color: black;
  border-radius: 50px;
}

/* CITAZIONI */

blockquote {
  margin-top: 2rem;
  font-style: italic;
}

#autore {
  font-weight: 600;
}

/* BLOG STYLES */

/* ARTICLES PREVIEW */

.preview {
    background-color: var(--colore-frame);
    border: var(--bordo-frame);
    box-shadow: var(--shadow);
    font-family: var(--font2);
    width: 15rem;
    height: 15rem;
    border-radius: 50px;
    overflow: hidden;
}

.preview img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* ARTICLE PAGE */

#article-shell {
    font-family: var(--font3);
    font-size: 1rem;
}


/* VARIANTI DI STILI */

/* NAV BUTTONS */

.nav-button:hover {
  color: var(--colore-primario);
  background-color: var(--colore-secondario);
  transform: scale(1.05);
}

/* LAYOUT */

/* LAYOUT GENERALE */

.site-shell {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  text-align: center;
  margin-right: 1rem;
  margin-left: 1rem;
}

/* LAYOUT HEADER */

.site-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* LAYOUT TITOLI */

.title {
  margin-top: 2rem;
}
  
.subtitle {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* LAYOUT SKILLS */

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
}

/* LAYOUT CONTATTI */

.contatti {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* LAYOUT FOOTER */

#diritti {
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}


/* LAYOUT BLOG */

#preview-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

#article-shell {
  margin: 3rem 3em;
}
